workflows/n8n-esempio-ai-agent-nativo.json
{
  "name": "02 - AI Agent Nativo",
  "nodes": [
    {
      "parameters": {},
      "id": "1a111111-1111-4111-8111-111111111111",
      "name": "Trigger Manuale",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://claude-code-agent:4000/reset-session",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={}",
        "options": {}
      },
      "id": "0f000000-0000-4000-8000-000000000002",
      "name": "Reset Sessione",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-prompt",
              "name": "prompt",
              "type": "string",
              "value": "Sei un assistente per un architetto software Java/Spring. Rispondi solo con: OK, funziona"
            }
          ]
        },
        "options": {}
      },
      "id": "2b222222-2222-4222-8222-222222222222",
      "name": "Costruisci Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {}
      },
      "id": "3c333333-3333-4333-8333-333333333333",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-code-bridge"
        },
        "options": {}
      },
      "id": "4d444444-4444-4444-8444-444444444444",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        900,
        520
      ],
      "credentials": {
        "openAiApi": {
          "id": "PLACEHOLDER",
          "name": "Claude Bridge (OpenAI compatible)"
        }
      }
    }
  ],
  "connections": {
    "Trigger Manuale": {
      "main": [
        [
          {
            "node": "Reset Sessione",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset Sessione": {
      "main": [
        [
          {
            "node": "Costruisci Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Costruisci Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "claude-code-bridge-02-ai-agent-nativo"
  }
}